.button {
  font: inherit;
  font-family: sans-serif;
  box-shadow: none;
  border: 0;
  border-radius: .25rem;
  background-color: #0099ff;
  color: white;
  padding: .5rem .75rem;
  font-weight: bold;
  transition: 125ms;
  cursor: pointer;
}

.button:hover {
  filter: brightness(1.125);
}

.button:active {
  filter: brightness(0.875);
}

.button:focus {
  outline: none;
  box-shadow: 0 0 0 2px #0099ff80;
}

.button--primary {
  background-color: #0099ff;
}

.button--secondary {
  background-color: #ff9900;
}
